numpy
pandas
scipy
matplotlib
seaborn
tabular

scikit-learn

# pytorch

nltk

openpyxl

ipykernel
jupyter
nbconvert   #https://medium.com/somosfit/version-control-on-jupyter-notebooks-6b67a0cf12a3

tqdm

black
flake8
mypy